*{
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'Patrick Hand', cursive;
    letter-spacing: 0.15em;
    font-size: 1.2rem;
}
h1{
    font-size: 3rem;
    font-family: 'Patrick Hand', cursive;
}

h2{
    font-weight: 900;
    padding-top: 20px;
    padding-bottom: 20px;
}

h2.spacer{
    padding: 0px;
    font-size: 1.9rem;
    font-weight: 100;
    color: #777;
    margin-top: 60px;
    text-align: center;
    letter-spacing: 1.3vw;
}
h2.Vspacer{
    padding: 0px;
    font-size: 1.9rem;
    font-weight: 100;
    color: #777;
    text-align: center;
}

p{
    padding-top: 20px;
    padding-bottom: 20px;
}

#aboutT{color:#FF218C;}
#galleryT{color:#FFD800;}
#socialsT{color:#21B1FF;}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

::-moz-selection {
    color: black;
    background: #FFD800;
  }
  
  ::selection {
    color: black;
    background: #FFD800;
  }

body{
    background-color: #111;
    overflow-x: hidden;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    background: #111; 
    width: 8px;
  }
  body::-webkit-scrollbar-thumb {
    background-color: #777;
    border-radius: 4px;
  }

nav{
    border-bottom: 2px #777 dashed;
    width: 100vw;
    max-width: 900px;
    justify-content: space-around;
    display: flex;
    position: fixed;
    background-color: #111111cc;
    z-index: 100;
}
#welcomeCC{
    margin: 0px;
    padding-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#welcomeC{
    display: flex;
    margin: 0;
    
}

.w{
    /*font-size: 5rem;*/
    text-align: center;
    margin-top: 30px;
    width: min-content;
    /*border: white 1px solid;*/
}

#d{color: rgb(255, 104, 104); animation: jiggle 500ms infinite;}
#a{color: rgb(255, 172, 104); animation: jiggle2 500ms infinite;}
#n{color: rgb(255, 245, 104);animation: jiggle 500ms infinite;}
#i{color: rgb(177, 255, 104);animation: jiggle2 500ms infinite;}
#us{color: rgb(104, 255, 185);animation: jiggle 500ms infinite;}
#d2{color: rgb(104, 187, 255);animation: jiggle2 500ms infinite;}
#r{color: rgb(195, 104, 255);animation: jiggle 500ms infinite;}
#a2{color: rgb(255, 104, 210);animation: jiggle2 500ms infinite;}
#w{color: rgb(255, 104, 104);animation: jiggle 500ms infinite;}
#z{color: rgb(255, 172, 104);animation: jiggle2 500ms infinite;}

@keyframes jiggle{
    0%{transform: translateY(-1px);}
    30%{transform: translateY(-1px);}
    50%{transform: translateY(1px);}
    80%{transform: translateY(1px);}
    100% {transform: translateY(-1px);}
}

@keyframes jiggle2{
    0%{transform: translateY(1px);}
    30%{transform: translateY(1px);}
    50%{transform: translateY(-1px);}
    80%{transform: translateY(-1px);}
    100% {transform: translateY(1px);}
}
@keyframes spin {
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}

@keyframes rattle{
    0%{transform:rotate(0deg);}
    30%{transform:rotate(-10deg);}
    60%{transform:rotate(10deg);}
    100%{transform:rotate(0deg);}
}
.navE{
    padding: 10px;
    transition: 500ms;
    font-weight: 100;
    font-size: 1.2rem;
    text-decoration: none;
}
@media (hover: hover) {
    .navE:hover{
        padding-left: 30px;
        padding-right: 30px;
        color: #111;
        font-weight:bolder;
        transition: 500ms;
        border-radius: 8px;
    }
}

@media (hover: hover) {#Nabout:hover{background-color: #FF218C;}}
@media (hover: hover) {#Ngallery:hover{background-color: #FFD800;}}
@media (hover: hover) {#Nsocials:hover{background-color: #21B1FF;}}



img#pfp{
    height:50px;
    width: auto;
    -webkit-user-drag: none;
    border-radius: 50%;
}
img#pfp:hover{
    animation: spin 1s;
}

@media(max-device-width: 480px){
    *{
        font-size: 1rem;
    }
    
    img#pfp{
        display: none;
    }
    h1{
        font-size: 2.6rem;
    }

}

@media(max-device-width: 360px){
    
    h2.spacer{
        display: none;
    }
}

img.image{
    position: relative;
    -webkit-user-drag: none;
    max-height: 100%;
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;
    object-fit: cover;
}

a.linkT{
    border-bottom: dashed 2px #FFD800;
    text-decoration: none;
}
@media (hover: hover) {
    a.linkT:hover{
        border-bottom: solid 2px #FF218C;
    }
}


@media (hover: hover) {
    a:hover{
        color:#FF218C;
        transition: 500ms;
        
    }

}




.socialsIMG{
    width: 60px;
    margin-left: 10px;
    margin-right: 10px;
    /* border-bottom: #111 2px solid; */
    padding-bottom: 10px;
}
@media (hover: hover) {
    .socialsIMG:hover{
    /* border-bottom: #FF218C 2px solid; */
    animation: rattle 500ms ease;
    filter: brightness(3);
    }
}

.tab{
    height:fit-content;
    /* border: 2px dashed #333; */
    box-sizing: border-box;
    margin: auto;
    padding: 40px;
    margin-top: 60px;
    text-align: center;
}

#about{
    margin-top: 30px;
}

#leftTC{
    max-width: 800px;
    margin: auto;
    text-align: left;
}

.grid{
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap: 10px;
    margin: auto;
}

#socials{
    margin-bottom: 100px;
    width: 100%;
}

#socialsC{
    display: flex;
    margin: auto;
    margin-top: 40px;
    max-width: 800px;
    /* border: 1px white solid; */
    justify-content: space-around;
}


.socialsCC p{
    padding: 0;
    color: #999;
    max-width: 200px;
    /* border: 1px white solid; */
}

#pfpBIG{
    width: 160px;
    border-radius: 30px;
    margin: 30px;
    -webkit-user-drag: none;
}

.nya{
    height: 100px;
    margin: auto;
}

#catC{
    max-height: 100px;
    margin-top: 1000px;
    display: flex;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
#catT{
    text-align: center;
    margin-bottom: 200px;
}